@tailwind base;
@tailwind components;
@tailwind utilities;

htlm, body, #app{
    width: 100%;
    height: 100%;
    background-color: #111410;
}

@font-face{
    font-family: 'breakingbad';
    src: url('@/assets/fonts/HeartBreakingBad.otf')
}

@font-face{
    font-family: 'heart';
    src: url('@/assets/fonts/BonusHearts.ttf')
}